@font-face {
  font-family: 'TitilliumText25L-800wt';
  src: url('TitilliumText25L-800wt.eot');
  src: url('TitilliumText25L-800wt.woff2') format('woff2'),
       url('TitilliumText25L-800wt.woff') format('woff'),
       url('TitilliumText25L-800wt.ttf') format('truetype'),
       url('TitilliumText25L-800wt.svg#TitilliumText25L-800wt') format('svg'),
       url('TitilliumText25L-800wt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

